In [5]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
df

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [8]:
m = df % 3 == 0
m

       A      B
0   True  False
1  False   True
2  False  False
3   True  False
4  False   True

In [27]:
c = df.where(m,df)

In [28]:
a =np.where(m, df, -df)
a

array([[ 0, -1],
       [-2,  3],
       [-4, -5],
       [ 6, -7],
       [-8,  9]])